<!DOCTYPE html>
<html lang="en">
<head>
  <title>RoR Bootcamp First Assignment</title>
  <meta charset="UTF-8">
  <meta name="description" content="Week 1 assignment for Codigo Facilito's Ruby on Rails bootcamp!">
  <meta name="author" content="Erick E.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header class="center rowFlow">
  <h1>State your skills...</h1>
</header>
<main class="center rowFlow">
  <section class="center columnFlow">
    <p><%= @guest %>... Your skills will be put to test...</p>
    <%= form_with url: "skills/skills", method: :get, data: {turbo: "false"} do |form| %>
      <%= form.text_field :skills %>
      <%= form.submit "Submit" %>
    <%end%>
  </section>
</main>
</body>
</html> 