<!DOCTYPE html>
<html lang="en">
<head>
  <title>RoR Bootcamp First Assignment</title>
  <meta charset="UTF-8">
  <meta name="description" content="Week 1 assignment for Codigo Facilito's Ruby on Rails bootcamp!">
  <meta name="author" content="Erick E.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header class="center rowFlow">
  <h1>Your skills are:</h1>
</header>
<main class="center rowFlow">
  <section class="center columnFlow">
    <% if @ur_skills.length > 0 %>
      <ul>
        <% @ur_skills.each do |skill| %>
          <li><%= skill %></li>
        <% end %>
      </ul>
    <% else %>
      <p>None apparently, oops!</p>
    <% end %>
  </section>
</main>
</body>
</html>